/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

/* Utility */

.clr{
    clear: both;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    overflow: auto;
}

.text-primary {
    color: #f7c08a;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: white;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: white;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    background: #f7c08a;
    color: #333;
}

/* Navbar */
nav {
    background: #333;
    overflow: auto;
}

nav a {
   color: white; 
}

nav h1 {
    float: left;
    padding: 15px;
}

nav ul {
    float: right;
    list-style: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

nav ul li a.current, nav ul li a:hover {
    background: #444;
    color: #f7c08a;
}

/* Showcase */

#showcase {
    background: url("../img/showcase.jpg") no-repeat center center/cover;
    height: 600px;
    color: white;
    text-align: center;
    padding-top: 170px;
}

#showcase h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase p {
    font-size: 20px;
    line-height: 1.7em;
    padding-bottom: 20px;
}

/* Home Info */
#home-info {
    height: 400px;
}

#home-info .info-img {
    float: left;
    width: 50%;
    background: url("../img/photo-1.jpg") no-repeat;
    min-height: 100%
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}

#home-info .info-content p {
    margin-bottom: 30px;
}

/* Features */
.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
    min-height: 300px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
}